html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
h5 {
    color: lightgray;
    font:Source Sans Pro;
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    margin: 1%;
    text-align: center;
}
