@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SAMS</h1>
    <h5>Student Accomodation Management System</a></h5>
</div>
