@page "{no}"
@model SAMS.Pages.Apartments.VacanciesModel
@{
}
<h5>Vacant rooms for apartment located at @Model.Apartment.Address</h5>

<table class="table">
    <thead>
        <tr>
            <th>Place No.</th>
            <th>Room No.</th>
            <th>Rent Per Semester</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Rooms)
        {
            <tr>
                <td>@item.Place_No</td>
                <td>@item.Room_No</td>
                <td>@item.Rent_Per_Semester</td>
            </tr>
        }
    </tbody>
</table>